In [2]:
import pandas as pd

In [3]:
df=pd.read_csv("adult.csv")

In [5]:
df

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K
5,34,Private,198693,10th,6,Never-married,Other-service,Not-in-family,White,Male,0,0,30,United-States,<=50K
6,29,?,227026,HS-grad,9,Never-married,?,Unmarried,Black,Male,0,0,40,United-States,<=50K
7,63,Self-emp-not-inc,104626,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,3103,0,32,United-States,>50K
8,24,Private,369667,Some-college,10,Never-married,Other-service,Unmarried,White,Female,0,0,40,United-States,<=50K
9,55,Private,104996,7th-8th,4,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,10,United-States,<=50K
10,65,Private,184454,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,6418,0,40,United-States,>50K
11,36,Federal-gov,212465,Bachelors,13,Married-civ-spouse,Adm-clerical,Husband,White,Male,0,0,40,United-States,<=50K
12,26,Private,82091,HS-grad,9,Never-married,Adm-clerical,Not-in-family,White,Female,0,0,39,United-States,<=50K
13,58,?,299831,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,35,United-States,<=50K
14,48,Private,279724,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,3103,0,48,United-States,>50K
15,43,Private,346189,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,50,United-States,>50K
16,20,State-gov,444554,Some-college,10,Never-married,Other-service,Own-child,White,Male,0,0,25,United-States,<=50K
17,43,Private,128354,HS-grad,9,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,30,United-States,<=50K
18,37,Private,60548,HS-grad,9,Widowed,Machine-op-inspct,Unmarried,White,Female,0,0,20,United-States,<=50K
19,40,Private,85019,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,45,?,>50K
20,34,Private,107914,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,47,United-States,>50K
21,34,Private,238588,Some-college,10,Never-married,Other-service,Own-child,Black,Female,0,0,35,United-States,<=50K
22,72,?,132015,7th-8th,4,Divorced,?,Not-in-family,White,Female,0,0,6,United-States,<=50K
23,25,Private,220931,Bachelors,13,Never-married,Prof-specialty,Not-in-family,White,Male,0,0,43,Peru,<=50K
24,25,Private,205947,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,<=50K
25,45,Self-emp-not-inc,432824,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,7298,0,90,United-States,>50K
26,22,Private,236427,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
27,23,Private,134446,HS-grad,9,Separated,Machine-op-inspct,Unmarried,Black,Male,0,0,54,United-States,<=50K
28,54,Private,99516,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,35,United-States,<=50K
29,32,Self-emp-not-inc,109282,Some-college,10,Never-married,Prof-specialty,Not-in-family,White,Male,0,0,60,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48812,30,?,33811,Bachelors,13,Never-married,?,Not-in-family,Asian-Pac-Islander,Female,0,0,99,United-States,<=50K
48813,34,Private,204461,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
48814,54,Private,337992,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,0,0,50,Japan,>50K
48815,37,Private,179137,Some-college,10,Divorced,Adm-clerical,Unmarried,White,Female,0,0,39,United-States,<=50K
48816,22,Private,325033,12th,8,Never-married,Protective-serv,Own-child,Black,Male,0,0,35,United-States,<=50K
48817,34,Private,160216,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Female,0,0,55,United-States,>50K
48818,30,Private,345898,HS-grad,9,Never-married,Craft-repair,Not-in-family,Black,Male,0,0,46,United-States,<=50K
48819,38,Private,139180,Bachelors,13,Divorced,Prof-specialty,Unmarried,Black,Female,15020,0,45,United-States,>50K
48820,71,?,287372,Doctorate,16,Married-civ-spouse,?,Husband,White,Male,0,0,10,United-States,>50K
48821,45,State-gov,252208,HS-grad,9,Separated,Adm-clerical,Own-child,White,Female,0,0,40,United-States,<=50K
48822,41,?,202822,HS-grad,9,Separated,?,Not-in-family,Black,Female,0,0,32,United-States,<=50K
48823,72,?,129912,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,25,United-States,<=50K
48824,45,Local-gov,119199,Assoc-acdm,12,Divorced,Prof-specialty,Unmarried,White,Female,0,0,48,United-States,<=50K
48825,31,Private,199655,Masters,14,Divorced,Other-service,Not-in-family,Other,Female,0,0,30,United-States,<=50K
48826,39,Local-gov,111499,Assoc-acdm,12,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,20,United-States,>50K
48827,37,Private,198216,Assoc-acdm,12,Divorced,Tech-support,Not-in-family,White,Female,0,0,40,United-States,<=50K
48828,43,Private,260761,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,Mexico,<=50K
48829,65,Self-emp-not-inc,99359,Prof-school,15,Never-married,Prof-specialty,Not-in-family,White,Male,1086,0,60,United-States,<=50K
48830,43,State-gov,255835,Some-college,10,Divorced,Adm-clerical,Other-relative,White,Female,0,0,40,United-States,<=50K
48831,43,Self-emp-not-inc,27242,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,50,United-States,<=50K
48832,32,Private,34066,10th,6,Married-civ-spouse,Handlers-cleaners,Husband,Amer-Indian-Eskimo,Male,0,0,40,United-States,<=50K
48833,43,Private,84661,Assoc-voc,11,Married-civ-spouse,Sales,Husband,White,Male,0,0,45,United-States,<=50K
48834,32,Private,116138,Masters,14,Never-married,Tech-support,Not-in-family,Asian-Pac-Islander,Male,0,0,11,Taiwan,<=50K
48835,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
48836,22,Private,310152,Some-college,10,Never-married,Protective-serv,Not-in-family,White,Male,0,0,40,United-States,<=50K
48837,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
48838,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
48839,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
48840,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
48841,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [6]:
df.shape

(48842, 15)

In [7]:
df.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'educational-num',
       'marital-status', 'occupation', 'relationship', 'race', 'gender',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'income'],
      dtype='object')

In [8]:
df.head(3)

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K

In [10]:
df.tail(3)

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
48839,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
48840,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
48841,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [13]:
type(df.age)

pandas.core.series.Series

In [21]:
df['age']

0        25
1        38
2        28
3        44
4        18
5        34
6        29
7        63
8        24
9        55
10       65
11       36
12       26
13       58
14       48
15       43
16       20
17       43
18       37
19       40
20       34
21       34
22       72
23       25
24       25
25       45
26       22
27       23
28       54
29       32
         ..
48812    30
48813    34
48814    54
48815    37
48816    22
48817    34
48818    30
48819    38
48820    71
48821    45
48822    41
48823    72
48824    45
48825    31
48826    39
48827    37
48828    43
48829    65
48830    43
48831    43
48832    32
48833    43
48834    32
48835    53
48836    22
48837    27
48838    40
48839    58
48840    22
48841    52
Name: age, Length: 48842, dtype: int64

In [24]:
df[['age','education']]

       age     education
0       25          11th
1       38       HS-grad
2       28    Assoc-acdm
3       44  Some-college
4       18  Some-college
5       34          10th
6       29       HS-grad
7       63   Prof-school
8       24  Some-college
9       55       7th-8th
10      65       HS-grad
11      36     Bachelors
12      26       HS-grad
13      58       HS-grad
14      48       HS-grad
15      43       Masters
16      20  Some-college
17      43       HS-grad
18      37       HS-grad
19      40     Doctorate
20      34     Bachelors
21      34  Some-college
22      72       7th-8th
23      25     Bachelors
24      25     Bachelors
25      45       HS-grad
26      22       HS-grad
27      23       HS-grad
28      54       HS-grad
29      32  Some-college
...    ...           ...
48812   30     Bachelors
48813   34     Doctorate
48814   54     Bachelors
48815   37  Some-college
48816   22          12th
48817   34     Bachelors
48818   30       HS-grad
48819   38     Bachelors
48820   71     Doctorate
48821   45       HS-grad
48822   41       HS-grad
48823   72       HS-grad
48824   45    Assoc-acdm
48825   31       Masters
48826   39    Assoc-acdm
48827   37    Assoc-acdm
48828   43       HS-grad
48829   65   Prof-school
48830   43  Some-college
48831   43  Some-college
48832   32          10th
48833   43     Assoc-voc
48834   32       Masters
48835   53       Masters
48836   22  Some-college
48837   27    Assoc-acdm
48838   40       HS-grad
48839   58       HS-grad
48840   22       HS-grad
48841   52       HS-grad

[48842 rows x 2 columns]

In [26]:
df[['relationship','race','gender']][df['age']>50]

        relationship                race  gender
7            Husband               White    Male
9            Husband               White    Male
10           Husband               White    Male
13           Husband               White    Male
22     Not-in-family               White  Female
28           Husband               White    Male
31         Unmarried               White  Female
35           Husband               White    Male
40           Husband               White    Male
47           Husband               White    Male
48     Not-in-family               Black  Female
49     Not-in-family               White  Female
56           Husband               White    Male
70           Husband               White    Male
77           Husband               White    Male
87           Husband               White    Male
90     Not-in-family               White  Female
93     Not-in-family               White    Male
98           Husband               White    Male
100             Wife               White  Female
103    Not-in-family               White  Female
104        Unmarried               White  Female
125    Not-in-family               White  Female
134          Husband               Black    Male
148          Husband               White    Male
160          Husband               White    Male
166          Husband               White    Male
169    Not-in-family               White    Male
170          Husband               White    Male
173          Husband               White    Male
...              ...                 ...     ...
48722        Husband               White    Male
48725        Husband               White    Male
48726  Not-in-family               Black  Female
48727      Unmarried               Black  Female
48729        Husband               White    Male
48740        Husband               White    Male
48741  Not-in-family               White  Female
48744        Husband               White    Male
48746  Not-in-family               White  Female
48748        Husband               White    Male
48750  Not-in-family               White  Female
48760           Wife               Black  Female
48762      Unmarried               White  Female
48768        Husband               White    Male
48770        Husband               Black    Male
48771  Not-in-family               Black    Male
48775  Not-in-family               White    Male
48779        Husband               White    Male
48782        Husband               White    Male
48796        Husband               White    Male
48799        Husband               White    Male
48803        Husband               White    Male
48806      Unmarried               White  Female
48814        Husband  Asian-Pac-Islander    Male
48820        Husband               White    Male
48823        Husband               White    Male
48829  Not-in-family               White    Male
48835        Husband               White    Male
48839      Unmarried               White  Female
48841           Wife               White  Female

[9808 rows x 3 columns]

In [27]:
df['age'].max()

90

In [29]:
df[['relationship','race','gender']][df['age']==df['age'].max()]

         relationship                race  gender
899           Husband               White    Male
3496    Not-in-family               White    Male
6976          Husband               White    Male
7414    Not-in-family               White    Male
7419          Husband               White    Male
8427    Not-in-family               White    Male
8982          Husband  Asian-Pac-Islander    Male
10735       Own-child               White    Male
11871   Not-in-family               White  Female
12446       Own-child               White  Female
13958       Own-child               White    Male
15088   Not-in-family               White  Female
16503   Not-in-family               Black    Male
17321   Not-in-family               White  Female
18216         Husband               White    Male
18584   Not-in-family  Asian-Pac-Islander    Male
19172       Own-child               White  Female
20351       Own-child               White    Male
20390  Other-relative               White  Female
21385   Not-in-family  Asian-Pac-Islander    Male
21553   Not-in-family               White  Female
21651         Husband               White    Male
21687   Not-in-family               Black    Male
22513         Husband               White    Male
22905         Husband               White    Male
25087         Husband               White    Male
25244   Not-in-family               White  Female
25254         Husband               White    Male
26491         Husband               White    Male
26826         Husband               White    Male
27793       Own-child               White  Female
28012   Not-in-family               White    Male
28277   Not-in-family               White    Male
28732       Own-child  Asian-Pac-Islander    Male
29256         Husband               White    Male
30440         Husband  Asian-Pac-Islander    Male
31637       Unmarried               White    Male
32173            Wife               White  Female
34558         Husband               White    Male
34694       Own-child               White  Female
35006         Husband               White    Male
35113       Own-child               White  Female
35493       Unmarried               Black  Female
35770         Husband               White    Male
36028         Husband               White    Male
36891            Wife               White  Female
38501   Not-in-family  Asian-Pac-Islander    Male
40324   Not-in-family               White    Male
40519   Not-in-family               Black  Female
41584   Not-in-family               White  Female
44744         Husband               White    Male
47311         Husband               White    Male
47977         Husband               White    Male
48558       Unmarried               White  Female
48648         Husband               White    Male